
.common{
    width:100%;
    min-height: 50px;
    border-radius: 5px;
    box-shadow:0 0 7px 3px rgba(0,0,0,.5);
    background-color: #343f64;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:20px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition:all 300ms ease-in-out ;
    -webkit-transition:all 300ms ease-in-out ;
    -moz-transition:all 300ms ease-in-out ;
    -ms-transition:all 300ms ease-in-out ;
    -o-transition:all 300ms ease-in-out ;
    &:hover
    {
        cursor: pointer;
        font-size: 1rem;
    }
}

.present{
    @extend .common;
    font-weight: 900;
    &:hover{
        color: green;
        cursor: pointer;
        background-color: white;
    }
}

.late{
    @extend .common;
    font-weight: 900;
    &:hover{
        color: #f5a623;
        cursor: pointer;
        background-color: white;

    }
}
.absent{
    @extend .common;
    font-weight: 900;
    &:hover{
        color: grey;
        cursor: pointer;
        background-color: white;

    }
}